

=================== ===========================================================
Name                GNUNET_GNSRECORD_TYPE_{{Name}}
------------------- -----------------------------------------------------------
Number              {{Number}}
Commenr             {{Comment}}
=================== ===========================================================

