

=================== ===========================================================
Name                GNUNET_SIGNATURE_PURPOSE_{{Name}}
------------------- -----------------------------------------------------------
Number              {{Number}}
Subsystem           {{Subsystem}}
Comment             {{Comment}}
=================== ===========================================================

