

=================== ===========================================================
               GNUNET_EC_{{Name}}
------------------- -----------------------------------------------------------
Value               {{Value}}
HTTP Status Code    {{HttpStatus_Value}}
Description         {{Description}}
=================== ===========================================================

