

=================== ===========================================================
Name                GNUNET_GNSRECORD_RF_{{Name}}
------------------- -----------------------------------------------------------
Number              {{Number}}
Comment             {{Comment}}
=================== ===========================================================

