

=================== ===========================================================
               GNUNET_BLOCK_TYPE_{{Name}}
-------------------------------------------------------------------------------
Name                {{Number}}
Comment             {{Comment}}
=================== ===========================================================

