

=================== ===========================================================
Name                GNUNET_BLOCK_TYPE_{{Name}}
------------------- -----------------------------------------------------------
Number              {{Number}}
Comment             {{Comment}}
=================== ===========================================================

